.agendaVirtualTitulo {
    font-size: 38px;
    line-height: 41px;
    color: #0067b8;
    font-weight: 600;
    font-family: "Poppins";

}

.agendaVirtualTexto {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: "Poppins";
}

.agendaVirtual {
    background-color: #dfedf7;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .agendaVirtualTitulo {
        
        font-size: 25px;
        line-height: 27px;
        color: #0067b8;
        font-weight: 600;
        font-family: "Poppins";

    }

    .agendaVirtualTexto {
        font-size: 14px;
        color: #1e1e1e;
        font-weight: 400;
        font-family: "Poppins";
        order: 1;
    }

    .containerAgendaVirtual {
        padding: 50px !important;
    }

    .agendaImagen {
        order: 2;
    }


}