
.image-section {
    position: relative;
    width: 60%;
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-over-image {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}
.text-over-image .box {
    background-color: rgba(0, 0, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.info-section {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-section h2 {
    color: #0056b3;
    margin-bottom: 20px;
}
.info-section .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.info-section .info-box img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.info-section .info-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
}


.crecimiento-title {
    
    font-size: 38px;
    line-height: 41px;
    color: #0067b8;
    font-weight: 700;
    font-family: "Poppins";

}

.contenedorImagen{
    width: 70%;
    height: 70%;
}