.header {
    background-color: #ffffff;
    padding: 50px 0;
}

.containerHeader {
    background-color: #0073c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
}

.logo-header {
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.logo-header img {
    margin-right: 30px;
}

.navbarheader {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.navbarheader a {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    margin-left: 50px;
    text-decoration: none;
}

.navbarheader a.login {
    margin-left: 50px;
    background-color: transparent;
    color: #4bdaff;
}

.navbarheader a.prueba {
    background-color: #0073c2;
    color: #4bdaff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbarheader {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #0073c2;
    }
    .navbarheader a {
        margin: 10px 0;
    }
    .menu-icon {
        display: block;
        margin-right: 20px;
    }
    .navbarheader.active {
        display: flex;
    }
}
