
.plans {
    padding: 50px 0;
    background: #e0e1e2;
}
.toggle {
    display: flex;
    justify-content: center;
    background: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    width: 70%;
}

.toggle-option {
    padding: 10px 20px;
    flex: 1;
    text-align: center;
    cursor: pointer;
    
    font-size: 24px;
    color: #0067b8;
    font-weight: 600;
    font-family: "Poppins";
}

.toggle-option.active {
    background: linear-gradient(90deg, #1288ef 0%, #2bb8fb 100%);
    width: 418px;
    border-radius: 17px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}

.plan-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan {
    
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan-pro {
    border: 2px solid #007bff;
}

.plan .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan .badge {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.plan h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}



.plan .price {
    font-size: 22px;
    line-height: 27px;
    color: #0067b8;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
}

.trial-button {
    font-size: 23px;
    color: #ebebeb;
    font-weight: 700;
    font-family: "Poppins";
    background: linear-gradient(90deg, #1288ef 0%, #2bb8fb 100%);
    width: 289px;
    height: 33px;
    border-radius: 9px;
    border-style: none;
}


.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    background: url('check-icon.png') no-repeat left center;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
    font-weight: 500;
    font-family: "Poppins";
}

.plans-title {
    font-size: 48px;
    color: #002140;
    font-weight: 700;
    font-family: "Poppins";
}

.plans-subtitle {
    width: 628px;
    height: 40px;
    font-size: 28px;
    line-height: 35px;
    color: #0067b8;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
    }

.plan-card-title {
    font-size: 29px;
    color: #002140;
    font-weight: 700;
    font-family: "Poppins";
}

.plan-card-description {
    
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    
}

.plan-pro{
    border-radius: 24px;
    width: 35%;
    background-color: #daeffb !important;
}


.plan-premium{
    border-radius: 24px;
    width: 35%;
    background-color: #ffffff !important;
}

.plan-card-includes{
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.price-amount{
    font-size: 58px;
    letter-spacing: -2px;
    color: #002140;
    font-weight: 700;
    font-family: "Poppins";
}

.price-amount-decimal{
    font-size: 30px;
    color: #002140;
    font-weight: 700;
    font-family: "Poppins";
}

.plan-card-includes{
    font-size: 22px;
    line-height: 27px;
    color: #0067b8;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
}


.plan-container .plan {
    display: none;
  }
  
  .plan-container .plan.active {
    display: block;
  }

.planP4{
    padding: 1.5rem;
}
  
  @media (min-width: 768px) {
    .plan-container .plan {
      display: block;
    }
  
    
  }

  
    @media (max-width: 768px) {
        .plan-pro{
            border-radius: 24px;
            width: 80%;
            background-color: #daeffb !important;
        }
        
        
        .plan-premium{
            border-radius: 24px;
            width: 80%;
            background-color: #ffffff !important;
        }

        .price-amount{
            font-size: 48px;
            letter-spacing: -2px;
            color: #002140;
            font-weight: 700;
            font-family: "Poppins";
        }

        .price-amount-decimal{
            font-size: 20px;
            color: #002140;
            font-weight: 700;
            font-family: "Poppins";
        }

        .plan-card-includes{
            font-size: 18px;
            line-height: 23px;
            color: #0067b8;
            font-weight: 500;
            font-family: "Poppins";
            text-align: center;
        }

        .plan-card-title {
            font-size: 24px;
            color: #002140;
            font-weight: 700;
            font-family: "Poppins";
        }

        .plan-card-description {
            
            font-size: 14px;
            color: #1e1e1e;
            font-weight: 400;
            font-family: "Poppins";
            text-align: center;
            
        }

        .plans-title {
            font-size: 24px;
            color: #002140;
            font-weight: 700;
            font-family: "Poppins";
        }

        .plans-subtitle {
            font-size: 16px;
            line-height: 30px;
            color: #0067b8;
            font-weight: 500;
            font-family: "Poppins";
            text-align: center;
        }

        .toggle {
            display: flex;
            justify-content: center;
            background: #ffffff;
            border-radius: 10px;
            overflow: hidden;
            width: 70%;
            flex-direction: column; /* Cambia la dirección del flex a columna */
            align-items: center; /* Centra las opciones verticalmente */
        }
        
        .toggle-option {
            padding: 10px 10px;
            width: 100%; /* Asegura que las opciones ocupen todo el ancho */
            text-align: center;
            cursor: pointer;
            font-size: 18px;
            color: #0067b8;
            font-weight: 600;
            font-family: "Poppins";
        }

        .plan .price {
            font-size: 14px;
            line-height: 23px;
            color: #0067b8;
            font-weight: 500;
            font-family: "Poppins";
            text-align: center;
        }

        .planP4{
            padding:0;
        }

        .plan ul li {
            background: url('check-icon.png') no-repeat left center;
            font-size: 10px;
            line-height: 23px;
            color: #000000;
            font-weight: 500;
            font-family: "Poppins";
        }
        
        

    }

  
  

