.promo-section {
    background-color: #ffffff;
    padding: 40px 0;
    height: 757px;
    clip-path: inset(0% 0% 0% 0% round 0 0 70% 0%);
}

body {
    background-color: #ececec !important;
}


.promo-text h1 {
    font-weight: bold;
}
.promo-text h1 span {
    color: #007bff;
}
.promo-text p {
    margin: 20px 0;
}

.promo-image {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}
.promo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.promo-image .overlay-calendar,
.promo-image .overlay-details {
    position: absolute;
    top: 0;
}
.overlay-calendar {
    top: 10%;
    left: 5%;
}
.overlay-details {
    top: 60%;
    left: 10%;
}


.promo-subtitle {
    font-size: 42px;
    color: #001b3e;
    font-weight: 700;
    font-family: "Poppins";

}


.promo-subtitle2 {
    font-size: 42px;
    line-height: 43px;
    color: #0067b8;
    font-weight: 700;
    font-family: "Poppins";
}

.promo-description {
    width: 348px;
    height: 68px;
    font-size: 18px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: "Poppins";
}

.promo-button {
    margin-top: 20px;
    text-align: center;
    width: 331px;
    height: 38px;
    border-radius: 11px;
    background: linear-gradient(90deg, #1c53f6 0%, #2bb8fb 100%);
}


.promo-button-text {
    font-size: 27px;
    color: #ebebeb;
    font-weight: 700;
    font-family: "Poppins";
}


.promo-section {
    position: relative;
}

.custom-shape {
    width: 200px;
    height: 200px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.078;
}

.custom-shape2 {
    width: 255px;
    height: 268px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.078;
}

.custom-shape3 {
    width: 322px;
    height: 334px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.078;
}

.custom-shape4 {
    width: 388px;
    height: 401px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.078;
}



.customS-shape {
    width: 200px;
    height: 200px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.078;
}

.customS-shape2 {
    width: 255px;
    height: 268px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.078;
}

.customS-shape3 {
    width: 322px;
    height: 334px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.078;
}

.customS-shape4 {
    width: 388px;
    height: 401px;
    background-color: #63fff2;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.078;
}


.promo-image-container {
    
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden; /* Para asegurarse de que la imagen se ajuste al borde redondeado */
    background-color: #fff;
    background-size: cover; /* Para asegurarse de que la imagen cubra completamente el contenedor */
    background-position: center; /* Posición inicial de la imagen dentro del contenedor */
    cursor: move; /* Cambia el cursor cuando se pasa por encima del contenedor */
}


.promo-image {
    position: relative;
    width: 100%;
}



.promo-image .video {
    position: relative;
    top: -300px;
   
    left: -10%;
    width: 36%;
    height: 155px;
    object-fit: cover;
    border-radius: 5px;
    pointer-events: none;
}



@media (max-width: 768px) {
    
    .promo-section {
        height: 100%;
        clip-path: inset(0% 0% 0% 0% round 0 0 30% 0%);
    }

    .promo-text h1 {
        font-size: 1.5em;
    }

    .promo-text p {
        align-self: center;
        text-align: center;
    }

    .promo-subtitle {
        font-size: 28px;
        color: #001b3e;
        font-weight: 700;
        font-family: "Poppins";
        width: 100%;
        text-align: center;
    }

    .promo-subtitle2 {
        width: 100%;
        font-size: 28px;
        line-height: 34px;
        color: #0067b8;
        font-weight: 700;
        font-family: "Poppins";
        text-align: center;
    }

    .promo-description {
        font-size: 16px;
        color: #1e1e1e;
        font-weight: 400;
        font-family: "Poppins";
        text-align: center;
        width: 100%;
    }

    .promo-button {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .promo-button-text {
        font-size: 1em;
    }

    .custom-shape {
        display: none;
    }

    .custom-shape2 {
        display: none;
    }

    .custom-shape3 {
        display: none;
    }

    .custom-shape4 {
        display: none;
    }

    .customS-shape {
        display: none;
    }

    .customS-shape2 {
        display: none;
    }

    .customS-shape3 {
        display: none;
    }

    .customS-shape4 {
        display: none;
    }

    .promo-image{
        height: auto;

    }
    .promo-image-container {
        border-radius: 0;
    }

    .promo-image .video {
        top: -160px;
        left: -16%;
        height: 90px;
    }

    


}


