
@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/Genova.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont';
    
}
